/* General CSS Styles */
html{
	font-family: Arial, Helvetica, sans-serif;
}

h5{
	margin-top: 10px;
}

.test{
	background-color: red;
}

#border{
	width: 1050px;
	margin-left: auto;
	margin-right: auto;
}

#container{
	float: left;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: #F1E9D2;
}

.rowBasic{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.row50{
	height: 50px;
	margin-left: 10px;
	margin-right: 10px;
}

.row100{
	height: 100px;
	margin-left: 10px;
	margin-right: 10px;
}

.row200{
	height: 200px;
	margin-left: 10px;
	margin-right: 10px;
}

.row300{
	height: 300px;
	margin-left: 10px;
	margin-right: 10px;
}

.columnSixth{
	width: 16%;
	height: inherit;
	float: left;
}

.columnThird{
	width: 33%;
	height: inherit;
	float: left;
}

.columnHalf{
	width: 50%;
	height: inherit;
	float: left;
}

.highlightBox{
	background-color: #999;
	width: 100%;
	height: inherit;
	float: left;
}

.clear{
	clear: both;
}

.center{
	text-align: center;
}

.alignLeft{
	text-align: left;
}

.alignRight{
	text-align: right;
}

#navigation{
	height: 95px;
	background-image: url('../images/ribbon_center.gif');
}

#ribbonLeft{
	float: left;
	height: 216px;
	width: 25px;
	background-image: url('../images/ribbon_left_fold.gif');
	background-repeat: no-repeat;
	background-position: left bottom;
}

#ribbonRight{
	float: left;
	height: 216px;
	width: 25px;
	background-image: url('../images/ribbon_right_fold.gif');
	background-repeat: no-repeat;
	background-position: left bottom;
}

/* GM Tools Specific CSS */

#initPreview{
	width: 150px;
}