#login{
	width: 50%;
	float: left;
	text-align: center;
}

#register{
	width: 50%;
	float: right;
	text-align: center;
}

.formLabel{
	text-align: right;
	display: inline-block;
	width: 150px;
}

.alignLeft{
	text-align: left;
}